.header {
  background-color: #fff;
  padding: 0 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 32px;
  margin-bottom: 28px;
}

.header__left {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header__right {
  display: flex;
  align-items: center;
}

.header__logo {
  width: 89px;
  height: 40px;
  margin-bottom: 8px;
}

.header__date {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.header__username {
  font-size: 20px;
  font-weight: 700;
  margin-right: 12px;
  line-height: 24px;
}

.header__avatar {
  width: 40px;
  height: 40px;
}

.header__button {
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  font-family: "Cabinet Grotesk", sans-serif;
  cursor: pointer;
  margin-right: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0;
}

.header__profile {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  color: inherit;
}
