.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modal_is-opened {
  display: flex;
}

.modal__content {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background: #fff;
  border-radius: 16px;
  padding: 28px;
  position: relative;
  width: 496px;
  height: 436px;
}

.modal__content_type_image {
  padding: 0;
  width: 498px;
  height: 610px;
  overflow: hidden;
  border-radius: 16px;
}

.modal__content_type_delete {
  width: 670px;
  height: 280px;
  padding: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal__delete-title {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #000;
  margin-bottom: 4px;
}

.modal__delete-subtitle {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #000;
  text-align: center;
}

.modal__delete-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 40px;
}

.modal__delete-confirm {
  background: none;
  border: none;
  cursor: pointer;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #ff4d00;
  padding: 0;
  text-align: center;
}

.modal__delete-cancel {
  background: none;
  border: none;
  cursor: pointer;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #000;
  padding: 0;
  text-align: center;
}

.modal__title {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  line-height: 24px;
  font-size: 20px;
  margin-bottom: 24px;
}

.modal__image {
  width: 498px;
  height: 498px;
  object-fit: cover;
}

.modal__item-info {
  padding: 18px 0px 32px 32px;
  background: #fff;
  height: 112px;
}

.modal__item-info-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 34px;
}

.modal__item-name {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 12px;
}

.modal__item-weather {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.modal__close {
  position: absolute;
  top: 24px;
  right: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

.modal__close-form {
  position: absolute;
  top: 20px;
  right: 28px;
  background: none;
  border: none;
  cursor: pointer;
  max-width: 20px;
  max-height: 20px;
}

.modal__label {
  display: flex;
  flex-direction: column;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 24px;
}

.modal__label-error {
  color: rgba(255, 77, 0, 1);
}

.modal__label-radio {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 12px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);
}

.modal__label-radio_checked {
  color: rgba(0, 0, 0, 1);
}

.modal__input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding: 8px 0;
  font-size: 16px;
  font-family: "Cabinet Grotesk", sans-serif;
  outline: none;
}

.modal__input-error {
  border-bottom: 1px solid rgba(255, 77, 0, 1);
  color: rgba(255, 77, 0, 1);
}

.modal__fieldset {
  border: none;
  padding: 0;
  margin-bottom: 32px;
  max-width: 173px;
  max-height: 108px;
}

.modal__legend {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 16px;
  height: 20px;
  max-width: 173px;
}

.modal__button {
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  line-height: 20px;
  font-size: 16px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  cursor: pointer;
  max-width: 124px;
  max-height: 36px;
}

.modal__delete-button {
  background: none;
  border: none;
  cursor: pointer;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ff4d00;
  padding: 0;
  margin-bottom: 12px;
}

.modal__button:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.modal__button:disabled {
  background-color: rgba(0, 0, 0, 0.3);
}
